{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}GnuLinux{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/fonts.google_nunito_sans.css' %}">
    <!--	<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:700%7CNunito:300,600" rel="stylesheet">-->
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'assets/css/style.css' %}"/>
</head>

<body>

{% include 'inc/_header.html' %}

<header id="header">

{% block imageheader %}
{% endblock %}

</header>

<div class="section">

    <div class="container">

        {% block content %} {% endblock %}

    </div>

</div>

{% include 'inc/_footer.html' %}

{% block javascript %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}

</body>

</html>