{% extends 'base.html' %}
{% load static %}
{%load sidebar%}


{% block imageheader %}
	{% if post_pin %}
		<div id="post-header" class="page-header">
				<div class="background-img" style="background-image: url('/media/{{ post_pin.photo }}');"></div>
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<div class="post-meta">
								<a class="post-category {{ post_pin.category.class_name}}" href="{{ post.category.get_absolute_url }}">{{ post_pin.category.title }}</a>
								<span class="post-date">{{post_pin.created_at|date:"j M Y" }}</span>
							</div>
							<h1>{{post_pin.title}}</h1>
						</div>
					</div>
				</div>
		</div>
	{% endif %}
{% endblock %}

{% block content %}

	<div class="row">
		{% if posts_most_read %}
			<div class="col-md-8">
					<div class="row">

							<div class="col-md-12">

								<div class="section-title">
									<h2>Популярные</h2>
								</div>

								{% for post in posts_most_read %}
									<div class="col-md-12">
										<div class="post post-row">
											<a class="post-img" href="{{ post.get_absolute_url }}"><img src="/media/{{ post.photo }}" alt=""></a>
											<div class="post-body">
												<div class="post-meta">
													<a class="post-category {{ post.category.class_name }}" href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
													<span class="post-date">{{ post.created_at|date:"j M Y" }}</span>
												</div>
												<h3 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
												{{ post.content|truncatewords_html:30|safe }}
											</div>
										</div>
									</div>
								{% endfor %}

						</div>


							<div class="col-md-12">
								<div class="section-row">
									<a href="{% url 'gnulinux:allposts' %}"><button class="primary-button center-block">Все новости</button></a>
								</div>
							</div>

					</div>
				</div>
			<div class="col-md-4">

					{% if posts_most_read_next %}

						<div class="aside-widget">
							<div class="section-title">
								<h2>Популярные</h2>
							</div>

								{% for post in posts_most_read_next %}
									<div class="post post-widget">
									<a class="post-img" href="{{ post.get_absolute_url }}"><img src="/media/{{ post.photo }}" alt=""></a>
									<div class="post-body">
										<h3 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
									</div>
								</div>
								{% endfor %}
						</div>

					{% endif %}

					<div class="aside-widget">
							{% get_category_sidebar %}
					</div>


					<div class="aside-widget">
							{% get_tags_sidebar %}
					</div>

				</div>
		{% else %}
			<p>К сожалению, никаких новостей еще не опубликовано :(</p>
		{% endif %}
	</div>

{% endblock %}